.grid-container{
    display:grid;
    grid-template-columns:60% 40%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: 600;
    margin:0px;
}
.logo{
    margin-top: 20px;
    margin-left:90px;
    width:150px;
    height:75px;
}
.item2{
    margin-top:40px;
    border-style: solid;
    height: 500px;
    width:400px;
    margin-left:20px;

}
.details{
    margin-top:20px;
    margin-left:50px;
    height:25px;
    width:250px;
}
.signuptag{
    margin-left:20px;
}
.terms{
    margin-left:40px;
    margin-top:20px;

}
.button{
    margin-left:130px;
    height:30px;
    width:75px;
    background-color:lightblue
    
}
.end{
    margin-left:20px;
    
}
.login{
    text-decoration: none;
}
.endline{
    text-align:center;
}
